<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link  rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/assignment01">Assignment 01</a></li>
                <li><a href="/assignment02A">Assignment 02-A</a></li>
                <li><a href="/assignment02B">Assignment 02-B</a></li>
                <li><a href="/assignment03">Assignment 03</a></li>
            </ul>
        </nav>
        <header>
            <h1>Assignment for Full stack developer - Qyuki</h1>
            <h2>Homepage</h2>
        </header>
    </body>
</html>
